<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ToDo</title>
	<link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
	<link rel="manifest" href="img/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>

<body>

<div class="container well">
<h1>ToDo</h1>
	<div id="tasks">

	<form v-on="submit: addTask">
			<div class="form-group">
				<input v-model="newTask"
					v-el="newTask" 
					class="form-control" 
					placeholder="ich muss..."></input>


			</div>
			<button class="btn btn-primary">
                Neue Aufgabe
            </button>

            <button v-on="click: completeAll"
                    class="btn btn-default"
            >
                Alles erledigt?
            </button>
		</form>

		<div v-show="remaining.length">
            <h2>Aufgaben ({{ remaining.length }})</h2>

            <ol class="list-group">
                <li v-repeat="task: remaining"
                    class="list-group-item"
                >
                    <span v-on="dblclick: editTask(task)">{{ task.body }}</span>

                    <button v-on="click: removeTask(task)"><span class="glyphicon glyphicon-remove"></span></button>
                    <button v-on="click: toggleTaskCompletion(task)"><span class="glyphicon glyphicon-ok"></span></button>
                    <button v-on="click: editTask(task)"><span class="glyphicon glyphicon-pencil"></span></button>
                </li>
            </ol>
        </div>

        <div v-if="completions.length">
            <h2>Erledigt ({{ completions.length }})</h2>

            <ol class="list-group">
                <li v-repeat="task: completions"
                    class="list-group-item"
                >
                    {{ task.body }}

                    <button v-on="click: toggleTaskCompletion(task)"><span class="glyphicon glyphicon-pencil"></span></button>
                </li>
            </ol>

            <button v-on="click: clearCompleted" class="btn btn-danger">Erledigte löschen</button>
        </div>


	</div>
</div>




	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.11.10/vue.min.js"></script>
	<script src="js/app.js"></script>

</body>
</html>